@page
@model AmigoLoansDevTest.Pages.IndexModel
@{

    <h1>Support Wheel Of Fate</h1>

    <p>
        This system will select two engineers, at random, to both complete a half day of support each.
    </p>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Morning Shift</th>
                <th scope="col">Afternoon Shift</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.engineers[0]
                </td>
                <td>
                    @Model.engineers[1]
                </td>
            </tr>
        </tbody>
    </table>

    <form method="post">
        <button type="submit">Randomly Select!</button>
    </form>

    <br />
    <br />
    <br />
    <br />
    <br />

    <h3>Api access</h3>
    <p>
        To access any details about an engineer, just add "/api/[id]" to the end of the url.
        For example, "localhost:5001/api/5" will return a list with the name of, and every shift, engineer 5 has worked.
    </p>

}
